In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import csv

In [34]:
covid_data_file1 = '../data/covid_race_data_tracker.csv'
covid_tracker_df = pd.read_csv(covid_data_file1, dtype="object", encoding="utf-8")
covid_tracker_df.head(100)

,Date,State,Cases_Total,Cases_White,Cases_Black,Cases_LatinX,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,...,Deaths_LatinX,Deaths_Asian,Deaths_AIAN,Deaths_NHPI,Deaths_Multiracial,Deaths_Other,Deaths_Unknown,Deaths_Ethnicity_Hispanic,Deaths_Ethnicity_NonHispanic,Deaths_Ethnicity_Unknown
0,20200722,AK,2132,750,49,NaN,67,282,76,61,...,NaN,2,4,1,0,0,1,0,18,1
1,20200722,AL,71813,22694,20884,NaN,267,NaN,NaN,NaN,...,NaN,4,NaN,NaN,NaN,27,100,45,1126,193
2,20200722,AR,35246,17406,7521,NaN,498,101,1985,NaN,...,NaN,6,0,30,NaN,27,3,41,336,3
3,20200722,AS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20200722,AZ,150609,24130,3246,34645,1096,9085,NaN,NaN,...,786,32,394,NaN,NaN,53,495,786,1693,495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,20200719,OK,25265,14214,1875,NaN,1528,1809,NaN,NaN,...,NaN,10,37,NaN,NaN,11,24,19,390,42
96,20200719,OR,14579,5710,561,NaN,454,299,360,329,...,NaN,10,3,6,2,20,25,31,199,30
97,20200719,PA,101027,32200,13700,NaN,1400,NaN,NaN,NaN,...,NaN,151,NaN,NaN,NaN,339,23,418,6574,23
98,20200719,PR,12063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,178,NaN,NaN,NaN
99,20200719,RI,17793,4878,1629,6072,NaN,NaN,NaN,NaN,...,85,NaN,NaN,NaN,NaN,13,185,85,720,185

,Date,State,Cases_Total,Cases_White,Cases_Black,Cases_LatinX,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,...,Deaths_LatinX,Deaths_Asian,Deaths_AIAN,Deaths_NHPI,Deaths_Multiracial,Deaths_Other,Deaths_Unknown,Deaths_Ethnicity_Hispanic,Deaths_Ethnicity_NonHispanic,Deaths_Ethnicity_Unknown
0,20200722,AK,2132,750,49,NaN,67,282,76,61,...,NaN,2,4,1,0,0,1,0,18,1
1,20200722,AL,71813,22694,20884,NaN,267,NaN,NaN,NaN,...,NaN,4,NaN,NaN,NaN,27,100,45,1126,193
2,20200722,AR,35246,17406,7521,NaN,498,101,1985,NaN,...,NaN,6,0,30,NaN,27,3,41,336,3
3,20200722,AS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20200722,AZ,150609,24130,3246,34645,1096,9085,NaN,NaN,...,786,32,394,NaN,NaN,53,495,786,1693,495
5,20200722,CA,413576,46562,11396,146903,14920,587,1590,1967,...,3455,1008,27,41,41,93,198,3455,4217,198
6,20200722,CO,41698,12771,1874,13897,840,204,127,381,...,361,53,11,5,20,6,53,361,1224,53
7,20200722,CT,48223,17226,6375,9249,695,44,NaN,143,...,380,48,2,NaN,32,21,42,380,3984,42
8,20200722,DC,11529,2343,5637,NaN,178,27,30,NaN,...,76,8,NaN,NaN,NaN,6,0,76,504,0
9,20200722,DE,13792,4584,3529,3605,192,NaN,NaN,NaN,...,35,1,NaN,NaN,NaN,6,23,35,469,23
10,20200722,FL,379619,78227,52834,93126,NaN,NaN,NaN,NaN,...,1358,NaN,NaN,NaN,NaN,185,340,1358,3502,599
11,20200722,GA,152302,35048,39008,20562,1837,89,153,NaN,...,196,53,5,7,NaN,15,40,196,3074,65
12,20200722,GU,332,35,NaN,NaN,126,NaN,128,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,5
13,20200722,HI,1435,221,10,NaN,382,NaN,405,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN,NaN,NaN
14,20200722,IA,40081,26456,3206,NaN,2004,400,400,NaN,...,NaN,24,8,8,NaN,0,81,56,657,97
15,20200722,ID,16322,7861,207,NaN,140,119,46,563,...,NaN,2,2,NaN,NaN,1,0,14,117,4
16,20200722,IL,166476,37393,27704,50999,4497,230,395,NaN,...,1531,349,10,9,NaN,51,298,1531,5711,105
17,20200722,IN,58673,26963,6696,NaN,774,NaN,NaN,NaN,...,NaN,14,NaN,NaN,NaN,359,393,53,1395,1218
18,20200722,KS,24104,15587,1780,NaN,888,166,NaN,NaN,...,NaN,9,2,NaN,NaN,9,8,40,255,13
19,20200722,KY,24540,12843,2044,NaN,480,77,37,965,...,NaN,8,0,NaN,16,NaN,46,25,577,75
20,20200722,LA,99354,31163,36693,NaN,4463,217,115,NaN,...,NaN,23,4,5,NaN,18,138,73,3303,294
21,20200722,MA,114320,35350,10731,22344,2409,NaN,NaN,NaN,...,586,218,NaN,NaN,NaN,545,60,586,7822,60
22,20200722,MD,80172,16887,23503,20505,1532,NaN,NaN,NaN,...,388,131,NaN,NaN,NaN,36,12,388,3005,12
23,20200722,ME,3723,2253,848,NaN,95,7,2,25,...,NaN,NaN,NaN,NaN,NaN,0,9,0,98,20
24,20200722,MI,83730,34385,22633,NaN,1691,323,NaN,5558,...,NaN,80,19,NaN,103,122,221,127,5302,958
25,20200722,MN,47961,21457,9842,NaN,3153,405,107,807,...,NaN,67,31,3,22,20,58,67,1460,65
26,20200722,MO,36063,16950,8294,NaN,NaN,NaN,NaN,1082,...,NaN,NaN,NaN,NaN,10,32,44,32,987,139
27,20200722,MP,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN
28,20200722,MS,47071,13476,20721,1795,149,1165,NaN,NaN,...,24,0,76,NaN,NaN,16,10,24,1272,127
29,20200722,MT,2813,1672,15,NaN,8,318,NaN,NaN,...,NaN,NaN,10,NaN,NaN,NaN,15,NaN,NaN,NaN
30,20200722,NC,105001,40399,17314,NaN,1301,911,210,NaN,...,NaN,25,25,4,NaN,106,57,166,1410,122
31,20200722,ND,5367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,88,NaN,NaN,NaN
32,20200722,NE,23486,13600,1400,NaN,1300,256,33,NaN,...,NaN,18,7,0,NaN,12,14,74,202,35
33,20200722,NH,6295,4012,325,657,164,NaN,NaN,NaN,...,11,4,NaN,NaN,NaN,1,2,11,389,2
34,20200722,NJ,177645,38813,18328,32730,5437,NaN,NaN,NaN,...,2730,745,NaN,NaN,NaN,243,2187,2730,10790,2187
35,20200722,NM,17828,2347,324,6722,123,7159,NaN,NaN,...,59,1,236,NaN,NaN,NaN,193,59,339,193
36,20200722,NV,38657,7023,1949,7920,1735,107,NaN,NaN,...,102,82,4,NaN,NaN,11,147,102,455,147
37,20200722,NY,408886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6665,1683,NaN,NaN,NaN,1842,3016,6665,18451,3016
38,20200722,OH,78742,37618,20518,NaN,2149,95,147,2359,...,NaN,36,1,1,39,24,53,71,3077,87
39,20200722,OK,27301,15339,2001,NaN,1556,2099,NaN,NaN,...,NaN,11,42,NaN,NaN,11,25,21,407,46
40,20200722,OR,15393,6378,589,NaN,491,350,377,342,...,NaN,12,3,6,2,23,22,34,210,27
41,20200722,PA,103396,32200,14000,NaN,1500,NaN,NaN,NaN,...,NaN,151,NaN,NaN,NaN,339,71,418,6574,71
42,20200722,PR,13038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,185,NaN,NaN,NaN
43,20200722,RI,18062,4939,1671,6171,NaN,NaN,NaN,NaN,...,85,NaN,NaN,NaN,NaN,13,186,85,726,186
44,20200722,SC,75042,24682,18100,NaN,548,NaN,NaN,NaN,...,NaN,11,NaN,NaN,NaN,34,185,44,928,311
45,20200722,SD,8077,3071,995,1162,716,1320,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,119,NaN,NaN,NaN
46,20200722,TN,84417,35281,16107,NaN,832,97,69,NaN,...,NaN,15,0,2,NaN,55,8,83,793,12
47,20200722,TX,351618,7428,3491,11999,671,NaN,NaN,NaN,...,229,15,NaN,NaN,NaN,1,3679,229,440,3679
48,20200722,UT,35578,13808,886,13994,799,769,1387,NaN,...,63,13,21,14,NaN,22,13,63,184,13
49,20200722,VA,80393,17960,13324,24824,2460,96,NaN,289,...,226,117,2,NaN,0,29,81,226,1744,81
50,20200722,VI,336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN
51,20200722,VT,1366,1124,151,NaN,53,2,NaN,NaN,...,NaN,2,NaN,NaN,NaN,1,0,0,56,0
52,20200722,WA,49247,11704,1743,13990,1715,509,953,699,...,198,123,31,16,17,33,55,198,1215,55
53,20200722,WI,48583,29339,7478,NaN,1574,460,NaN,NaN,...,NaN,23,10,NaN,NaN,15,14,104,755,13
54,20200722,WV,5461,4290,411,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41,NaN,NaN,NaN
55,20200722,WY,2288,1088,22,294,11,367,7,NaN,...,2,0,10,NaN,NaN,0,0,2,22,0

In [18]:
covid_tracker_df.columns

Index(['Date', 'State', 'Cases_Total', 'Cases_White', 'Cases_Black',
       'Cases_LatinX', 'Cases_Asian', 'Cases_AIAN', 'Cases_NHPI',
       'Cases_Multiracial', 'Cases_Other', 'Cases_Unknown',
       'Cases_Ethnicity_Hispanic', 'Cases_Ethnicity_NonHispanic',
       'Cases_Ethnicity_Unknown', 'Deaths_Total', 'Deaths_White',
       'Deaths_Black', 'Deaths_LatinX', 'Deaths_Asian', 'Deaths_AIAN',
       'Deaths_NHPI', 'Deaths_Multiracial', 'Deaths_Other', 'Deaths_Unknown',
       'Deaths_Ethnicity_Hispanic', 'Deaths_Ethnicity_NonHispanic',
       'Deaths_Ethnicity_Unknown'],
      dtype='object')

In [19]:
type(covid_tracker_df['Cases_Total'][0])

str

In [33]:
# Check for 'NaN' and if true, replace them with value 0
check_for_nan = covid_tracker_df['Cases_Total'].isnull().values.any()
print (check_for_nan)

False

In [21]:
covid_tracker_df['Cases_Total'] = covid_tracker_df['Cases_Total'].fillna(0)
covid_tracker_df['Cases_White'] = covid_tracker_df['Cases_White'].fillna(0)
covid_tracker_df['Cases_Black'] = covid_tracker_df['Cases_Black'].fillna(0)
covid_tracker_df['Cases_LatinX'] = covid_tracker_df['Cases_LatinX'].fillna(0)
covid_tracker_df['Cases_Asian'] = covid_tracker_df['Cases_Asian'].fillna(0)
covid_tracker_df['Cases_AIAN'] = covid_tracker_df['Cases_AIAN'].fillna(0)
covid_tracker_df['Cases_NHPI'] = covid_tracker_df['Cases_NHPI'].fillna(0)
covid_tracker_df['Cases_Multiracial'] = covid_tracker_df['Cases_Multiracial'].fillna(0)
covid_tracker_df['Cases_Other'] = covid_tracker_df['Cases_Other'].fillna(0)
covid_tracker_df['Cases_Unknown'] = covid_tracker_df['Cases_Unknown'].fillna(0)
covid_tracker_df['Cases_Ethnicity_Hispanic'] = covid_tracker_df['Cases_Ethnicity_Hispanic'].fillna(0)
covid_tracker_df['Cases_Ethnicity_NonHispanic'] = covid_tracker_df['Cases_Ethnicity_NonHispanic'].fillna(0)
covid_tracker_df['Cases_Ethnicity_Unknown'] = covid_tracker_df['Cases_Ethnicity_Unknown'].fillna(0)
covid_tracker_df['Deaths_Total'] = covid_tracker_df['Deaths_Total'].fillna(0)
covid_tracker_df['Deaths_White'] = covid_tracker_df['Deaths_White'].fillna(0)
covid_tracker_df['Deaths_Black'] = covid_tracker_df['Deaths_Black'].fillna(0)
covid_tracker_df['Deaths_LatinX'] = covid_tracker_df['Deaths_LatinX'].fillna(0)
covid_tracker_df['Deaths_Asian'] = covid_tracker_df['Deaths_Asian'].fillna(0)
covid_tracker_df['Deaths_AIAN'] = covid_tracker_df['Deaths_AIAN'].fillna(0)
covid_tracker_df['Deaths_NHPI'] = covid_tracker_df['Deaths_NHPI'].fillna(0)
covid_tracker_df['Deaths_Multiracial'] = covid_tracker_df['Deaths_Multiracial'].fillna(0)
covid_tracker_df['Deaths_Other'] = covid_tracker_df['Deaths_Other'].fillna(0)
covid_tracker_df['Deaths_Unknown'] = covid_tracker_df['Deaths_Unknown'].fillna(0)
covid_tracker_df['Deaths_Ethnicity_Hispanic'] = covid_tracker_df['Deaths_Ethnicity_Hispanic'].fillna(0)
covid_tracker_df['Deaths_Ethnicity_NonHispanic'] = covid_tracker_df['Deaths_Ethnicity_NonHispanic'].fillna(0)
covid_tracker_df['Deaths_Ethnicity_Unknown'] = covid_tracker_df['Deaths_Ethnicity_Unknown'].fillna(0)

In [22]:
check_for_nan = covid_tracker_df.isnull().values.any()
print (check_for_nan)

False

In [23]:
covid_tracker_df.head()

,Date,State,Cases_Total,Cases_White,Cases_Black,Cases_LatinX,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,...,Deaths_LatinX,Deaths_Asian,Deaths_AIAN,Deaths_NHPI,Deaths_Multiracial,Deaths_Other,Deaths_Unknown,Deaths_Ethnicity_Hispanic,Deaths_Ethnicity_NonHispanic,Deaths_Ethnicity_Unknown
0,20200722,AK,2132,750,49,0,67,282,76,61,...,0,2,4,1,0,0,1,0,18,1
1,20200722,AL,71813,22694,20884,0,267,0,0,0,...,0,4,0,0,0,27,100,45,1126,193
2,20200722,AR,35246,17406,7521,0,498,101,1985,0,...,0,6,0,30,0,27,3,41,336,3
3,20200722,AS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,20200722,AZ,150609,24130,3246,34645,1096,9085,0,0,...,786,32,394,0,0,53,495,786,1693,495

In [24]:
type(covid_tracker_df['Cases_Total'][0])

str

In [25]:
covid_tracker_df['Cases_Total']=covid_tracker_df['Cases_Total'].astype(int)
covid_tracker_df['Cases_White'] = covid_tracker_df['Cases_White'].astype(int)
covid_tracker_df['Cases_Black'] = covid_tracker_df['Cases_Black'].astype(int)
covid_tracker_df['Cases_LatinX'] = covid_tracker_df['Cases_LatinX'].astype(int)
covid_tracker_df['Cases_Asian'] = covid_tracker_df['Cases_Asian'].astype(int)
covid_tracker_df['Cases_AIAN'] = covid_tracker_df['Cases_AIAN'].astype(int)
covid_tracker_df['Cases_NHPI'] = covid_tracker_df['Cases_NHPI'].astype(int)
covid_tracker_df['Cases_Multiracial'] = covid_tracker_df['Cases_Multiracial'].astype(int)
covid_tracker_df['Cases_Other'] = covid_tracker_df['Cases_Other'].astype(int)
covid_tracker_df['Cases_Unknown'] = covid_tracker_df['Cases_Unknown'].astype(int)
covid_tracker_df['Cases_Ethnicity_Hispanic'] = covid_tracker_df['Cases_Ethnicity_Hispanic'].astype(int)
covid_tracker_df['Cases_Ethnicity_NonHispanic'] = covid_tracker_df['Cases_Ethnicity_NonHispanic'].astype(int)
covid_tracker_df['Cases_Ethnicity_Unknown'] = covid_tracker_df['Cases_Ethnicity_Unknown'].astype(int)
covid_tracker_df['Deaths_Total'] = covid_tracker_df['Deaths_Total'].astype(int)
covid_tracker_df['Deaths_White'] = covid_tracker_df['Deaths_White'].astype(int)
covid_tracker_df['Deaths_Black'] = covid_tracker_df['Deaths_Black'].astype(int)
covid_tracker_df['Deaths_LatinX'] = covid_tracker_df['Deaths_LatinX'].astype(int)
covid_tracker_df['Deaths_Asian'] = covid_tracker_df['Deaths_Asian'].astype(int)
covid_tracker_df['Deaths_AIAN'] = covid_tracker_df['Deaths_AIAN'].astype(int)
covid_tracker_df['Deaths_NHPI'] = covid_tracker_df['Deaths_NHPI'].astype(int)
covid_tracker_df['Deaths_Multiracial'] = covid_tracker_df['Deaths_Multiracial'].astype(int)
covid_tracker_df['Deaths_Other'] = covid_tracker_df['Deaths_Other'].astype(int)
covid_tracker_df['Deaths_Unknown'] = covid_tracker_df['Deaths_Unknown'].astype(int)
covid_tracker_df['Deaths_Ethnicity_Hispanic'] = covid_tracker_df['Deaths_Ethnicity_Hispanic'].astype(int)
covid_tracker_df['Deaths_Ethnicity_NonHispanic'] = covid_tracker_df['Deaths_Ethnicity_NonHispanic'].astype(int)
covid_tracker_df['Deaths_Ethnicity_Unknown'] = covid_tracker_df['Deaths_Ethnicity_Unknown'].astype(int)

In [26]:
type(covid_tracker_df['Cases_Total'][0])

numpy.int64

In [27]:
# Export the clean covid tracker data into a csv
covid_tracker_df.to_csv("../data/race_data_tracker.csv",encoding='utf-8', index=False)